In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from pandas import read_excel
import numpy as np

In [22]:
city_restaurant_count = pd.read_csv('Desktop/git/city_counts_veggie_restaurants3.csv')
#brackets = pd.read_csv('bracket_3_capstone.csv')

In [28]:
city_restaurant_count.head(10)

  city_counts_veggie_restaurants Unnamed: 1  Unnamed: 2
0                           city      state           0
1                           Oslo          3          24
2                         Vienna          9          27
3                         Lisbon         11          40
4                          Paris         75          22
5                         Dothan    Alabama           1
6                         Hoover    Alabama           1
7                     Huntsville    Alabama           8
8                        Madison    Alabama           1
9                     Montgomery    Alabama           1

In [30]:
veg_count = city_restaurant_count.drop([0,1,2,3,4])
veg_count.head(1)

  city_counts_veggie_restaurants Unnamed: 1  Unnamed: 2
5                         Dothan    Alabama           1

In [51]:
veg_count = veg_count.rename(columns = {'city_counts_veggie_restaurants':'city','Unnamed: 1':'state','Unnamed: 2':'restaurant_count'})
veg_count.head(1)

     city    state  count
5  Dothan  Alabama      1

In [78]:
nyc = veg_count.loc[veg_count['city']=='New York']
nyc

         city      state  count
909  New York  New York      50

In [81]:
houston = veg_count.loc[veg_count['city']=='Houston']
houston

         city   state  count
1143  Houston  Texas      40

In [36]:
brackets.head()

,Unnamed: 0,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,...,error_margin,college,college_rank,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree
0,0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,...,8334,NaN,NaN,545.0,0.141956,276.0,58.0,5.0,7.0,NaN
1,1,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,...,3232,58889.0,489.0,613.0,0.034700,483.0,527.0,525.0,537.0,0.280317
2,2,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,...,4860,17629.0,98.0,523.0,0.176656,43.0,48.0,103.0,231.0,0.257275
3,3,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,...,6257,36675.0,357.0,93.0,0.854890,188.0,233.0,177.0,270.0,0.427587
4,4,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,...,4497,73551.0,519.0,426.0,0.329653,501.0,500.0,513.0,547.0,0.364847

In [37]:
veg_and_brackets = pd.merge(brackets, veg_count,
                           left_on = ['PLACE','STATE'], right_on = ['city','state'],
                            how = 'left', left_index = True)
veg_and_brackets.head()

,Unnamed: 0,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,...,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree,city,state,count
10.0,0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,...,545.0,0.141956,276.0,58.0,5.0,7.0,NaN,Auburn,Alabama,3.0
12.0,1,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,...,613.0,0.034700,483.0,527.0,525.0,537.0,0.280317,Birmingham,Alabama,6.0
5.0,2,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,...,523.0,0.176656,43.0,48.0,103.0,231.0,0.257275,Dothan,Alabama,1.0
6.0,3,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,...,93.0,0.854890,188.0,233.0,177.0,270.0,0.427587,Hoover,Alabama,1.0
7.0,4,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,...,426.0,0.329653,501.0,500.0,513.0,547.0,0.364847,Huntsville,Alabama,8.0

In [80]:
nyc = veg_and_brackets.loc[veg_and_brackets['city']=='New York']
nyc

Empty DataFrame
Columns: [Unnamed: 0, GISJOIN, YEAR, STATE, PLACE, GEOID, Total, total_under_25, total_25_44, total_45_64, total_65_up, percent_under_25, percent_25_44, percent_45_64, percent_65_over, hs_diploma, some_college, college_degree, higher_degree, percent_hs_diploma, percent_some_college, percent_college_degree, percent_higher_degree, median_income, error_margin, college, college_rank, income_rank, income_rank_perc, rank_under_25, rank_25_44, rank_45_64, rank_65_up, percent_total_college_degree, city, state, count]
Index: []

[0 rows x 37 columns]

In [83]:
houston = veg_and_brackets.loc[veg_and_brackets['city']=='Houston']
houston

Empty DataFrame
Columns: [Unnamed: 0, GISJOIN, YEAR, STATE, PLACE, GEOID, Total, total_under_25, total_25_44, total_45_64, total_65_up, percent_under_25, percent_25_44, percent_45_64, percent_65_over, hs_diploma, some_college, college_degree, higher_degree, percent_hs_diploma, percent_some_college, percent_college_degree, percent_higher_degree, median_income, error_margin, college, college_rank, income_rank, income_rank_perc, rank_under_25, rank_25_44, rank_45_64, rank_65_up, percent_total_college_degree, city, state, count]
Index: []

[0 rows x 37 columns]

In [57]:
veg_and_brackets.shape

(634, 37)

In [66]:
veg_bracket = veg_and_brackets.drop(columns = ['Unnamed: 0'])
veg_bracket.reset_index()

,index,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,...,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree,city,state,count
0,10.0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,...,545.0,0.141956,276.0,58.0,5.0,7.0,NaN,Auburn,Alabama,3.0
1,12.0,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,...,613.0,0.034700,483.0,527.0,525.0,537.0,0.280317,Birmingham,Alabama,6.0
2,5.0,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,...,523.0,0.176656,43.0,48.0,103.0,231.0,0.257275,Dothan,Alabama,1.0
3,6.0,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,...,93.0,0.854890,188.0,233.0,177.0,270.0,0.427587,Hoover,Alabama,1.0
4,7.0,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,...,426.0,0.329653,501.0,500.0,513.0,547.0,0.364847,Huntsville,Alabama,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629,NaN,G72010334,2019,Puerto Rico,Caguas zona urbana,16000US7210334,69960.0,18918.0,17418.0,17680.0,...,632.0,0.004732,22.0,37.0,113.0,339.0,0.291438,NaN,NaN,NaN
630,NaN,G72014290,2019,Puerto Rico,Carolina zona urbana,16000US7214290,133757.0,34873.0,33577.0,34306.0,...,630.0,0.007886,320.0,373.0,443.0,529.0,0.348871,NaN,NaN,NaN
631,NaN,G72032522,2019,Puerto Rico,Guaynabo zona urbana,16000US7232522,62550.0,13931.0,15027.0,18335.0,...,577.0,0.091483,1.0,9.0,136.0,313.0,0.486075,NaN,NaN,NaN
632,NaN,G72063820,2019,Puerto Rico,Ponce zona urbana,16000US7263820,106546.0,30727.0,24850.0,26803.0,...,634.0,0.001577,248.0,234.0,346.0,476.0,0.304094,NaN,NaN,NaN
633,NaN,G72076770,2019,Puerto Rico,San Juan zona urbana,16000US7276770,310323.0,82512.0,75133.0,80919.0,...,633.0,0.003155,541.0,550.0,577.0,597.0,0.385463,NaN,NaN,NaN

In [67]:
veg_bracket['count']= veg_bracket['count'].fillna(0)

In [69]:
veg_bracket.tail()

,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,...,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree,city,state,count
NaN,G72010334,2019,Puerto Rico,Caguas zona urbana,16000US7210334,69960.0,18918.0,17418.0,17680.0,15944.0,...,632.0,0.004732,22.0,37.0,113.0,339.0,0.291438,NaN,NaN,0.0
NaN,G72014290,2019,Puerto Rico,Carolina zona urbana,16000US7214290,133757.0,34873.0,33577.0,34306.0,31001.0,...,630.0,0.007886,320.0,373.0,443.0,529.0,0.348871,NaN,NaN,0.0
NaN,G72032522,2019,Puerto Rico,Guaynabo zona urbana,16000US7232522,62550.0,13931.0,15027.0,18335.0,15257.0,...,577.0,0.091483,1.0,9.0,136.0,313.0,0.486075,NaN,NaN,0.0
NaN,G72063820,2019,Puerto Rico,Ponce zona urbana,16000US7263820,106546.0,30727.0,24850.0,26803.0,24166.0,...,634.0,0.001577,248.0,234.0,346.0,476.0,0.304094,NaN,NaN,0.0
NaN,G72076770,2019,Puerto Rico,San Juan zona urbana,16000US7276770,310323.0,82512.0,75133.0,80919.0,71759.0,...,633.0,0.003155,541.0,550.0,577.0,597.0,0.385463,NaN,NaN,0.0

In [70]:
veg_bracket.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 634 entries, 10.0 to nan
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GISJOIN                       634 non-null    object
 1   YEAR                          634 non-null    int64
 2   STATE                         634 non-null    object
 3   PLACE                         634 non-null    object
 4   GEOID                         634 non-null    object
 5   Total                         633 non-null    float64
 6   total_under_25                633 non-null    float64
 7   total_25_44                   633 non-null    float64
 8   total_45_64                   633 non-null    float64
 9   total_65_up                   633 non-null    float64
 10  percent_under_25              633 non-null    float64
 11  percent_25_44                 633 non-null    float64
 12  percent_45_64                 633 non-null    float64
 13  percent_65_over               633 non-null    float64
 14  hs_diploma                    609 non-null    float64
 15  some_college                  609 non-null    float64
 16  college_degree                609 non-null    float64
 17  higher_degree                 609 non-null    float64
 18  percent_hs_diploma            609 non-null    float64
 19  percent_some_college          609 non-null    float64
 20  percent_college_degree        609 non-null    float64
 21  percent_higher_degree         609 non-null    float64
 22  median_income                 634 non-null    int64
 23  error_margin                  634 non-null    int64
 24  college                       609 non-null    float64
 25  college_rank                  609 non-null    float64
 26  income_rank                   634 non-null    float64
 27  income_rank_perc              634 non-null    float64
 28  rank_under_25                 633 non-null    float64
 29  rank_25_44                    633 non-null    float64
 30  rank_45_64                    633 non-null    float64
 31  rank_65_up                    633 non-null    float64
 32  percent_total_college_degree  609 non-null    float64
 33  city                          259 non-null    object
 34  state                         259 non-null    object
 35  count                         634 non-null    float64
dtypes: float64(27), int64(3), object(6)
memory usage: 183.3+ KB

In [72]:
veg_bracket = veg_bracket.rename(columns = {'count':'restaurant_count'})
veg_bracket.tail()

,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,...,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree,city,state,restaurant_count
NaN,G72010334,2019,Puerto Rico,Caguas zona urbana,16000US7210334,69960.0,18918.0,17418.0,17680.0,15944.0,...,632.0,0.004732,22.0,37.0,113.0,339.0,0.291438,NaN,NaN,0.0
NaN,G72014290,2019,Puerto Rico,Carolina zona urbana,16000US7214290,133757.0,34873.0,33577.0,34306.0,31001.0,...,630.0,0.007886,320.0,373.0,443.0,529.0,0.348871,NaN,NaN,0.0
NaN,G72032522,2019,Puerto Rico,Guaynabo zona urbana,16000US7232522,62550.0,13931.0,15027.0,18335.0,15257.0,...,577.0,0.091483,1.0,9.0,136.0,313.0,0.486075,NaN,NaN,0.0
NaN,G72063820,2019,Puerto Rico,Ponce zona urbana,16000US7263820,106546.0,30727.0,24850.0,26803.0,24166.0,...,634.0,0.001577,248.0,234.0,346.0,476.0,0.304094,NaN,NaN,0.0
NaN,G72076770,2019,Puerto Rico,San Juan zona urbana,16000US7276770,310323.0,82512.0,75133.0,80919.0,71759.0,...,633.0,0.003155,541.0,550.0,577.0,597.0,0.385463,NaN,NaN,0.0

In [73]:
veg_bracket.drop(columns = ['city','state'])

,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,...,college,college_rank,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree,restaurant_count
10.0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,5264.0,...,NaN,NaN,545.0,0.141956,276.0,58.0,5.0,7.0,NaN,3.0
12.0,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,32521.0,...,58889.0,489.0,613.0,0.034700,483.0,527.0,525.0,537.0,0.280317,6.0
5.0,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,13164.0,...,17629.0,98.0,523.0,0.176656,43.0,48.0,103.0,231.0,0.257275,1.0
6.0,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,14101.0,...,36675.0,357.0,93.0,0.854890,188.0,233.0,177.0,270.0,0.427587,1.0
7.0,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,33929.0,...,73551.0,519.0,426.0,0.329653,501.0,500.0,513.0,547.0,0.364847,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,G72010334,2019,Puerto Rico,Caguas zona urbana,16000US7210334,69960.0,18918.0,17418.0,17680.0,15944.0,...,20389.0,136.0,632.0,0.004732,22.0,37.0,113.0,339.0,0.291438,0.0
NaN,G72014290,2019,Puerto Rico,Carolina zona urbana,16000US7214290,133757.0,34873.0,33577.0,34306.0,31001.0,...,46664.0,437.0,630.0,0.007886,320.0,373.0,443.0,529.0,0.348871,0.0
NaN,G72032522,2019,Puerto Rico,Guaynabo zona urbana,16000US7232522,62550.0,13931.0,15027.0,18335.0,15257.0,...,30404.0,282.0,577.0,0.091483,1.0,9.0,136.0,313.0,0.486075,0.0
NaN,G72063820,2019,Puerto Rico,Ponce zona urbana,16000US7263820,106546.0,30727.0,24850.0,26803.0,24166.0,...,32400.0,306.0,634.0,0.001577,248.0,234.0,346.0,476.0,0.304094,0.0
NaN,G72076770,2019,Puerto Rico,San Juan zona urbana,16000US7276770,310323.0,82512.0,75133.0,80919.0,71759.0,...,119618.0,558.0,633.0,0.003155,541.0,550.0,577.0,597.0,0.385463,0.0

In [74]:
veg_bracket.to_csv('veg_bracket_final.csv')

In [84]:
fixed_brackets = pd.read_csv('veg_bracket_final_updated.csv')
fixed_brackets.head()

,Unnamed: 0,GISJOIN,YEAR,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,percent_under_25,...,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree,STATE,PLACE,city,state,restaurant_count
0,NaN,G48001000,2019,16000US4801000,123201.0,46437.0,35938.0,23578.0,17248.0,0.376921,...,419.0,400.0,277.0,379.0,0.204122,Texas,Abilene,NaN,NaN,0
1,NaN,G39001000,2019,16000US3901000,197597.0,64633.0,49883.0,53001.0,30080.0,0.327095,...,504.0,476.0,533.0,522.0,0.197604,Ohio,Akron,NaN,NaN,3
2,NaN,G12000410,2019,16000US1200410,96528.0,33936.0,33690.0,19853.0,9049.0,0.351566,...,299.0,374.0,185.0,74.0,NaN,Florida,Alafaya CDP,NaN,NaN,5
3,254.0,G06000562,2019,16000US0600562,77630.0,21265.0,24057.0,19218.0,13090.0,0.273928,...,67.0,219.0,160.0,226.0,0.453356,California,Alameda,Alameda,California,1
4,NaN,G13001052,2019,16000US1301052,70643.0,27633.0,17670.0,14679.0,10661.0,0.391164,...,196.0,43.0,36.0,137.0,0.161389,Georgia,Albany,NaN,NaN,0

In [89]:
fixed_brackets['restaruant_per_100thousand'] = (fixed_brackets.restaurant_count / fixed_brackets.Total) * 100000
fixed_brackets.head()

,Unnamed: 0,GISJOIN,YEAR,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,percent_under_25,...,rank_65_up,percent_total_college_degree,STATE,PLACE,city,state,restaurant_count,restaruant_per_thousand,restaruant_per_ten_thousand,restaruant_per_100thousand
0,NaN,G48001000,2019,16000US4801000,123201.0,46437.0,35938.0,23578.0,17248.0,0.376921,...,379.0,0.204122,Texas,Abilene,NaN,NaN,0,0.000000,0.000000,0.000000
1,NaN,G39001000,2019,16000US3901000,197597.0,64633.0,49883.0,53001.0,30080.0,0.327095,...,522.0,0.197604,Ohio,Akron,NaN,NaN,3,0.015182,0.151824,1.518242
2,NaN,G12000410,2019,16000US1200410,96528.0,33936.0,33690.0,19853.0,9049.0,0.351566,...,74.0,NaN,Florida,Alafaya CDP,NaN,NaN,5,0.051798,0.517984,5.179844
3,254.0,G06000562,2019,16000US0600562,77630.0,21265.0,24057.0,19218.0,13090.0,0.273928,...,226.0,0.453356,California,Alameda,Alameda,California,1,0.012882,0.128816,1.288162
4,NaN,G13001052,2019,16000US1301052,70643.0,27633.0,17670.0,14679.0,10661.0,0.391164,...,137.0,0.161389,Georgia,Albany,NaN,NaN,0,0.000000,0.000000,0.000000

## Pulling out 20 cities with similar population size to Franklin

## I will use this to compare measures

In [94]:
similar_pop = fixed_brackets[(fixed_brackets.Total >= 81783.0) & (fixed_brackets.Total <= 84184.0)]
similar_pop

,Unnamed: 0,GISJOIN,YEAR,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,percent_under_25,...,rank_65_up,percent_total_college_degree,STATE,PLACE,city,state,restaurant_count,restaruant_per_thousand,restaruant_per_ten_thousand,restaruant_per_100thousand
8,256.0,G06000884,2019,16000US0600884,83732.0,21704.0,23422.0,23063.0,15543.0,0.259208,...,325.0,0.331032,California,Alhambra,Alhambra,California,1,0.011943,0.119429,1.194287
27,NaN,G48004462,2019,16000US4804462,82572.0,29396.0,24165.0,20868.0,8143.0,0.356004,...,47.0,0.328138,Texas,Atascocita CDP,NaN,NaN,0,0.000000,0.000000,0.000000
31,NaN,G53003180,2019,16000US5303180,82021.0,27806.0,23167.0,19303.0,11745.0,0.339011,...,170.0,0.259409,Washington,Auburn,NaN,NaN,0,0.000000,0.000000,0.000000
77,NaN,G06008786,2019,16000US0608786,81783.0,21112.0,24692.0,21531.0,14448.0,0.258147,...,285.0,0.297666,California,Buena Park,NaN,NaN,4,0.048910,0.489099,4.890992
109,43.0,G06013214,2019,16000US0613214,83843.0,25036.0,22088.0,25115.0,11604.0,0.298606,...,166.0,0.438629,California,Chino Hills,Chino Hills,California,3,0.035781,0.357812,3.578116
190,NaN,G48026232,2019,16000US4826232,83205.0,27774.0,18712.0,27835.0,8884.0,0.333802,...,71.0,0.447930,Texas,Flower Mound town,NaN,NaN,0,0.000000,0.000000,0.000000
201,NaN,G47027740,2019,16000US4727740,83096.0,26900.0,25257.0,20754.0,10185.0,0.323722,...,120.0,0.478398,Tennessee,Franklin,NaN,NaN,0,0.000000,0.000000,0.000000
214,NaN,G24032025,2019,16000US2432025,83707.0,26455.0,26084.0,22931.0,8237.0,0.316043,...,48.0,0.412463,Maryland,Germantown CDP,NaN,NaN,1,0.011946,0.119464,1.194643
314,NaN,G48043888,2019,16000US4843888,82461.0,28895.0,23400.0,18132.0,12034.0,0.350408,...,184.0,0.221195,Texas,Longview,NaN,NaN,1,0.012127,0.121269,1.212694
321,NaN,G51047672,2019,16000US5147672,82168.0,35523.0,20513.0,14377.0,11755.0,0.432322,...,172.0,0.246568,Virginia,Lynchburg,NaN,NaN,2,0.024340,0.243404,2.434038
329,NaN,G06045484,2019,16000US0645484,83037.0,27855.0,22022.0,20939.0,12221.0,0.335453,...,189.0,0.203199,California,Manteca,NaN,NaN,0,0.000000,0.000000,0.000000
334,1014.0,G41047000,2019,16000US4147000,83084.0,25835.0,20347.0,21492.0,15410.0,0.310950,...,318.0,0.231657,Oregon,Medford,Medford,Oregon,4,0.048144,0.481440,4.814405
335,379.0,G12043975,2019,16000US1243975,83030.0,22393.0,19928.0,21457.0,19252.0,0.269698,...,418.0,0.273853,Florida,Melbourne,Melbourne,Florida,3,0.036132,0.361315,3.613152
338,NaN,G06046898,2019,16000US0646898,83668.0,35220.0,25169.0,15702.0,7577.0,0.420949,...,34.0,0.146388,California,Merced,NaN,NaN,0,0.000000,0.000000,0.000000
347,128.0,G06047766,2019,16000US0647766,84184.0,19935.0,30913.0,21362.0,11974.0,0.236803,...,182.0,0.489689,California,Milpitas,Milpitas,California,7,0.083151,0.831512,8.315119
361,139.0,G06049670,2019,16000US0649670,82726.0,20700.0,33978.0,18597.0,9451.0,0.250224,...,88.0,0.572359,California,Mountain View,Mountain View,California,7,0.084617,0.846167,8.461669
433,168.0,G06057792,2019,16000US0657792,81794.0,23903.0,20334.0,24144.0,13413.0,0.292234,...,239.0,0.522630,California,Pleasanton,Pleasanton,California,4,0.048903,0.489033,4.890334
519,NaN,G24072450,2019,16000US2472450,83247.0,25601.0,27935.0,19291.0,10420.0,0.307531,...,127.0,0.405768,Maryland,Silver Spring CDP,NaN,NaN,5,0.060062,0.600622,6.006222
521,NaN,G19073335,2019,16000US1973335,83288.0,30292.0,22250.0,18819.0,11927.0,0.363702,...,179.0,0.182403,Iowa,Sioux City,NaN,NaN,0,0.000000,0.000000,0.000000
576,NaN,G34074000,2019,16000US3474000,83211.0,29173.0,24039.0,20323.0,9676.0,0.350591,...,97.0,0.128829,New Jersey,Trenton,NaN,NaN,2,0.024035,0.240353,2.403528
577,671.0,G26080700,2019,16000US2680700,84087.0,23875.0,20639.0,24156.0,15417.0,0.283932,...,319.0,0.522114,Michigan,Troy,Troy,Michigan,6,0.071355,0.713547,7.135467

In [95]:
similar_pop.to_csv('similar_pop_franklin.csv')

## Looking at Franklin's numbers to create a similarity measurement

In [97]:
franklin = fixed_brackets.loc[fixed_brackets['PLACE']=='Franklin']
franklin

,Unnamed: 0,GISJOIN,YEAR,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,percent_under_25,...,rank_65_up,percent_total_college_degree,STATE,PLACE,city,state,restaurant_count,restaruant_per_thousand,restaruant_per_ten_thousand,restaruant_per_100thousand
201,NaN,G47027740,2019,16000US4727740,83096.0,26900.0,25257.0,20754.0,10185.0,0.323722,...,120.0,0.478398,Tennessee,Franklin,NaN,NaN,0,0.0,0.0,0.0

In [102]:
pd.set_option('display.max_columns',None)

In [103]:
print(franklin)

     Unnamed: 0    GISJOIN  YEAR           GEOID    Total  total_under_25  \
201         NaN  G47027740  2019  16000US4727740  83096.0         26900.0

     total_25_44  total_45_64  total_65_up  percent_under_25  percent_25_44  \
201      25257.0      20754.0      10185.0          0.323722        0.30395

     percent_45_64  percent_65_over  hs_diploma  some_college  college_degree  \
201       0.249759         0.122569      7226.0        7232.0         25628.0

     higher_degree  percent_hs_diploma  percent_some_college  \
201        14125.0             0.08696              0.087032

     percent_college_degree  percent_higher_degree  median_income  \
201                0.308414               0.169984         103813

     error_margin  college  college_rank  income_rank  income_rank_perc  \
201         10317  39753.0         392.0         70.0          0.891167

     rank_under_25  rank_25_44  rank_45_64  rank_65_up  \
201          180.0       244.0       212.0       120.0

     percent_total_college_degree      STATE     PLACE city state  \
201                      0.478398  Tennessee  Franklin  NaN   NaN

     restaurant_count  restaruant_per_thousand  restaruant_per_ten_thousand  \
201                 0                      0.0                          0.0

     restaruant_per_100thousand
201                         0.0

## Subtracting needed columns from Franklin's numbers, ranking, and pulling out 20

In [107]:
fixed_brackets['pop_franklin'] = 83096.0 - fixed_brackets['Total']
fixed_brackets['under_25_franklin'] = 0.323722 - fixed_brackets['percent_under_25']
fixed_brackets['25_44_franklin'] = 0.30395 - fixed_brackets['percent_25_44']
fixed_brackets['45_64_franklin'] = 0.249759 - fixed_brackets['percent_45_64']
fixed_brackets['65_up_franklin'] = 0.122569 - fixed_brackets['percent_65_over']
fixed_brackets['median_income_franklin'] = 103813 - fixed_brackets['median_income']
fixed_brackets['college_franklin'] = 0.478898 - fixed_brackets['percent_total_college_degree']

In [116]:
f = fixed_brackets.sort_values('median_income_franklin')

In [118]:
f['income_rank_franklin'] = f['median_income_franklin'].rank()
f.head(20)

,Unnamed: 0,GISJOIN,YEAR,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,percent_under_25,percent_25_44,percent_45_64,percent_65_over,hs_diploma,some_college,college_degree,higher_degree,percent_hs_diploma,percent_some_college,percent_college_degree,percent_higher_degree,median_income,error_margin,college,college_rank,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree,STATE,PLACE,city,state,restaurant_count,restaruant_per_thousand,restaruant_per_ten_thousand,restaruant_per_100thousand,Pop_Franklin,pop_franklin,under_25_franklin,25_44_franklin,45_64_franklin,65_up_franklin,median_income_franklin,college_franklin,franklin_25_rank,income_rank_franklin
498,200.0,G06068378,2019,16000US0668378,75984.0,25498.0,17668.0,24074.0,8744.0,0.335571,0.232523,0.316830,0.115077,4599.0,5218.0,23146.0,15951.0,0.060526,0.068672,0.304617,0.209926,189185,17541,39097.0,383.0,1.0,1.000000,158.0,42.0,288.0,66.0,0.514543,California,San Ramon,San Ramon,California,5,0.065803,0.658033,6.580333,7112.0,7112.0,-0.011849,0.071427,-0.067071,0.007492,-85372,-0.035645,291.0,1.0
485,NaN,G53061115,2019,16000US5361115,65880.0,23659.0,19314.0,17127.0,5780.0,0.359123,0.293169,0.259973,0.087735,1767.0,3873.0,19969.0,15420.0,0.026821,0.058789,0.303112,0.234062,188120,20254,35389.0,346.0,2.0,0.998423,111.0,91.0,94.0,12.0,0.537174,Washington,Sammamish,NaN,NaN,1,0.015179,0.151791,1.517911,17216.0,17216.0,-0.035401,0.010781,-0.010214,0.034834,-84307,-0.058276,171.0,2.0
410,161.0,G06055282,2019,16000US0655282,65365.0,19623.0,15722.0,16590.0,13430.0,0.300207,0.240526,0.253806,0.205462,1396.0,3170.0,15206.0,24595.0,0.021357,0.048497,0.232632,0.376272,160360,16831,39801.0,394.0,3.0,0.996845,32.0,16.0,76.0,241.0,0.608904,California,Palo Alto,Palo Alto,California,4,0.061195,0.611948,6.119483,17731.0,17731.0,0.023515,0.063424,-0.004047,-0.082893,-56547,-0.130006,460.0,3.0
433,168.0,G06057792,2019,16000US0657792,81794.0,23903.0,20334.0,24144.0,13413.0,0.292234,0.248600,0.295181,0.163985,5442.0,7272.0,25482.0,17266.0,0.066533,0.088906,0.311539,0.211091,156063,13922,42748.0,416.0,4.0,0.995268,118.0,119.0,290.0,239.0,0.522630,California,Pleasanton,Pleasanton,California,4,0.048903,0.489033,4.890334,1302.0,1302.0,0.031488,0.055350,-0.045422,-0.041416,-52250,-0.043732,494.0,4.0
261,443.0,G13042425,2019,16000US1342425,84590.0,29591.0,17955.0,29140.0,7904.0,0.349817,0.212259,0.344485,0.093439,4728.0,6733.0,25215.0,16539.0,0.055893,0.079596,0.298085,0.195520,151773,16355,41754.0,412.0,5.0,0.993691,233.0,52.0,394.0,40.0,0.493604,Georgia,Johns Creek,Johns Creek,Georgia,1,0.011822,0.118217,1.182173,-1494.0,-1494.0,-0.026095,0.091691,-0.094726,0.029130,-47960,-0.014706,209.0,5.0
553,218.0,G06077000,2019,16000US0677000,152710.0,42393.0,59052.0,35407.0,15858.0,0.277605,0.386694,0.231858,0.103844,9577.0,13751.0,41263.0,38532.0,0.062714,0.090046,0.270205,0.252321,151475,10648,79795.0,528.0,6.0,0.992114,396.0,516.0,453.0,334.0,0.522526,California,Sunnyvale,Sunnyvale,California,25,0.163709,1.637090,16.370899,-69614.0,-69614.0,0.046117,-0.082744,0.017901,0.018725,-47662,-0.043628,534.0,6.0
380,568.0,G25045560,2019,16000US2545560,88411.0,29595.0,18507.0,23698.0,16611.0,0.334743,0.209329,0.268044,0.187884,4898.0,3088.0,19173.0,30104.0,0.055400,0.034928,0.216862,0.340501,150106,11450,49277.0,451.0,7.0,0.990536,234.0,68.0,281.0,357.0,0.557363,Massachusetts,Newton,Newton,Massachusetts,3,0.033932,0.339324,3.393243,-5315.0,-5315.0,-0.011021,0.094621,-0.018285,-0.065315,-46293,-0.078465,301.0,7.0
497,198.0,G06068252,2019,16000US0668252,104438.0,28193.0,34296.0,26154.0,15795.0,0.269950,0.328386,0.250426,0.151238,9127.0,11025.0,27502.0,21000.0,0.087392,0.105565,0.263333,0.201076,149312,11021,48502.0,445.0,8.0,0.988959,206.0,385.0,335.0,333.0,0.464410,California,San Mateo,San Mateo,California,6,0.057450,0.574504,5.745035,-21342.0,-21342.0,0.053772,-0.024436,-0.000667,-0.028669,-45499,0.014488,560.0,8.0
361,139.0,G06049670,2019,16000US0649670,82726.0,20700.0,33978.0,18597.0,9451.0,0.250224,0.410729,0.224802,0.114245,5202.0,5481.0,22697.0,24652.0,0.062882,0.066255,0.274364,0.297996,147915,15480,47349.0,441.0,9.0,0.987382,56.0,378.0,144.0,88.0,0.572359,California,Mountain View,Mountain View,California,7,0.084617,0.846167,8.461669,370.0,370.0,0.073498,-0.106779,0.024957,0.008324,-44102,-0.093461,597.0,9.0
504,203.0,G06069084,2019,16000US0669084,130371.0,37953.0,48611.0,30555.0,13252.0,0.291115,0.372867,0.234370,0.101648,11625.0,10986.0,36124.0,28099.0,0.089169,0.084267,0.277086,0.215531,147507,9798,64223.0,500.0,10.0,0.985804,359.0,472.0,406.0,234.0,0.492617,California,Santa Clara,Santa Clara,California,8,0.061363,0.613633,6.136334,-47275.0,-47275.0,0.032607,-0.068917,0.015389,0.020921,-43694,-0.013719,498.0,10.0
203,81.0,G06026000,2019,16000US0626000,241117.0,68590.0,75995.0,66303.0,30229.0,0.284468,0.315179,0.274983,0.125371,30117.0,21508.0,64009.0,44905.0,0.124906,0.089202,0.265469,0.186237,144118,8133,108914.0,551.0,11.0,0.984227,519.0,551.0,559.0,525.0,0.451706,California,Fremont,Fremont,California,7,0.029032,0.290315,2.903155,-158021.0,-158021.0,0.039254,-0.011229,-0.025224,-0.002802,-40305,0.027192,515.0,11.0
456,NaN,G53057535,2019,16000US5357535,71941.0,19469.0,28348.0,16437.0,7687.0,0.270625,0.394045,0.228479,0.106851,3987.0,5962.0,21631.0,19309.0,0.055420,0.082873,0.300677,0.268400,142920,12725,40940.0,403.0,12.0,0.982650,29.0,305.5,69.0,37.0,0.569077,Washington,Redmond,NaN,NaN,0,0.000000,0.000000,0.000000,11155.0,11155.0,0.053097,-0.090095,0.021280,0.015718,-39107,-0.090179,555.0,12.0
347,128.0,G06047766,2019,16000US0647766,84184.0,19935.0,30913.0,21362.0,11974.0,0.236803,0.367208,0.253754,0.142236,8690.0,7109.0,27739.0,13485.0,0.103226,0.084446,0.329504,0.160185,140124,8971,41224.0,406.0,13.0,0.981073,41.0,340.0,222.0,182.0,0.489689,California,Milpitas,Milpitas,California,7,0.083151,0.831512,8.315119,-1088.0,-1088.0,0.086919,-0.063258,-0.003995,-0.019667,-36311,-0.010791,610.0,13.0
367,496.0,G17051622,2019,16000US1751622,149640.0,48267.0,35409.0,46915.0,19049.0,0.322554,0.236628,0.313519,0.127299,10642.0,13622.0,42071.0,32179.0,0.071117,0.091032,0.281148,0.215043,140061,8458,74250.0,521.0,14.0,0.979495,432.0,394.0,504.0,416.0,0.496191,Illinois,Naperville,Naperville,Illinois,2,0.013365,0.133654,1.336541,-66544.0,-66544.0,0.001168,0.067322,-0.063760,-0.004730,-36248,-0.017293,369.0,14.0
190,NaN,G48026232,2019,16000US4826232,83205.0,27774.0,18712.0,27835.0,8884.0,0.333802,0.224890,0.334535,0.106772,7039.0,9946.0,25696.0,11574.0,0.084598,0.119536,0.308828,0.139102,139508,11916,37270.0,363.0,15.0,0.977918,201.0,76.0,376.0,71.0,0.447930,Texas,Flower Mound town,NaN,NaN,0,0.000000,0.000000,0.000000,-109.0,-109.0,-0.010080,0.079060,-0.084776,0.015797,-35695,0.030968,303.0,15.0
458,178.0,G06060102,2019,16000US0660102,85926.0,22842.0,28655.0,22664.0,11765.0,0.265833,0.333485,0.263762,0.136920,9711.0,9314.0,21992.0,16564.0,0.113016,0.108396,0.255941,0.192771,138913,17229,38556.0,374.0,16.0,0.976341,99.0,311.0,248.0,173.0,0.448712,California,Redwood City,Redwood City,California,4,0.046552,0.465517,4.655168,-2830.0,-2830.0,0.057889,-0.029535,-0.014003,-0.014351,-35100,0.030186,571.0,16.0
309,NaN,G06041992,2019,16000US0641992,90188.0,27259.0,24559.0,23709.0,14661.0,0.302246,0.272309,0.262884,0.162560,10194.0,13686.0,25214.0,10895.0,0.113031,0.151750,0.279572,0.120803,138225,9939,36109.0,351.0,17.0,0.974763,187.0,226.0,283.0,294.0,0.400375,California,Livermore,NaN,NaN,3,0.033264,0.332638,3.326385,-7092.0,-7092.0,0.021476,0.031641,-0.013125,-0.039991,-34412,0.078523,448.0,17.0
11,465.0,G13001696,2019,16000US1301696,67208.0,19903.0,16933.0,22413.0,7959.0,0.296140,0.251949,0.333487,0.118423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136047,19253,NaN,NaN,18.0,0.973186,39.5,30.0,246.0,41.0,NaN,Georgia,Alpharetta,Alpharetta,Georgia,6,0.089275,0.892751,8.927509,15888.0,15888.0,0.027582,0.052001,-0.083728,0.004146,-32234,NaN,481.0,18.0
241,NaN,G08036410,2019,16000US0836410,99810.0,33615.0,23307.0,30106.0,12782.0,0.336790,0.233514,0.301633,0.128063,5399.0,12200.0,32062.0,15667.0,0.054093,0.122232,0.321230,0.156968,132836,6870,47729.0,442.0,19.0,0.971609,288.0,198.0,402.0,212.0,0.478199,Colorado,Highlands Ranch CDP,NaN,NaN,2,0.020038,0.200381,2.003807,-16714.0,-16714.0,-0.013068,0.070436,-0.051874,-0.005494,-29023,0.000699,284.0,19.0
171,NaN,G24026000,2019,16000US2426000,72605.0,21872.0,17355.0,19640.0,13738.0,0.301246,0.239033,0.270505,0.189216,6587.0,4482.0,21284.0,16650.0,0.090724,0.061731,0.293148,0.229323,130930,18874,37934.0,369.0,20.0,0.970032,76.0,34.0,181.5,250.0,0.522471,Maryland,Ellicott City CDP,NaN,NaN,2,0.027546,0.275463,2.754631,10491.0,10491.0,0.022476,0.064917,-0.020746,-0.066647,-27117,-0.043573,457.0,20.0

In [126]:
f = f[(f.income_rank_franklin >= 1) & (f.income_rank_franklin <= 20)]
f.shape

(20, 50)

In [127]:
f.to_csv('income_rank_franklin.csv')

In [120]:
college = fixed_brackets.sort_values('college_franklin')

In [121]:
college['college_rank_franklin'] = college['college_franklin'].rank()
college.head(20)

,Unnamed: 0,GISJOIN,YEAR,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,percent_under_25,percent_25_44,percent_45_64,percent_65_over,hs_diploma,some_college,college_degree,higher_degree,percent_hs_diploma,percent_some_college,percent_college_degree,percent_higher_degree,median_income,error_margin,college,college_rank,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree,STATE,PLACE,city,state,restaurant_count,restaruant_per_thousand,restaruant_per_ten_thousand,restaruant_per_100thousand,Pop_Franklin,pop_franklin,under_25_franklin,25_44_franklin,45_64_franklin,65_up_franklin,median_income_franklin,college_franklin,franklin_25_rank,college_rank_franklin
410,161.0,G06055282,2019,16000US0655282,65365.0,19623.0,15722.0,16590.0,13430.0,0.300207,0.240526,0.253806,0.205462,1396.0,3170.0,15206.0,24595.0,0.021357,0.048497,0.232632,0.376272,160360,16831,39801.0,394.0,3.0,0.996845,32.0,16.0,76.0,241.0,0.608904,California,Palo Alto,Palo Alto,California,4,0.061195,0.611948,6.119483,17731.0,17731.0,0.023515,0.063424,-0.004047,-0.082893,-56547,-0.130006,460.0,1.0
23,NaN,G51003000,2019,16000US5103000,236842.0,61809.0,96205.0,52806.0,26022.0,0.260971,0.406199,0.222959,0.109871,12598.0,13680.0,69002.0,70155.0,0.053192,0.057760,0.291342,0.296210,119755,4315,139157.0,569.0,39.0,0.940063,487.0,571.0,531.0,492.0,0.587552,Virginia,Arlington CDP,NaN,NaN,1,0.004222,0.042222,0.422222,-153746.0,-153746.0,0.062751,-0.102249,0.026800,0.012698,-15942,-0.108654,580.0,2.0
361,139.0,G06049670,2019,16000US0649670,82726.0,20700.0,33978.0,18597.0,9451.0,0.250224,0.410729,0.224802,0.114245,5202.0,5481.0,22697.0,24652.0,0.062882,0.066255,0.274364,0.297996,147915,15480,47349.0,441.0,9.0,0.987382,56.0,378.0,144.0,88.0,0.572359,California,Mountain View,Mountain View,California,7,0.084617,0.846167,8.461669,370.0,370.0,0.073498,-0.106779,0.024957,0.008324,-44102,-0.093461,597.0,3.0
456,NaN,G53057535,2019,16000US5357535,71941.0,19469.0,28348.0,16437.0,7687.0,0.270625,0.394045,0.228479,0.106851,3987.0,5962.0,21631.0,19309.0,0.055420,0.082873,0.300677,0.268400,142920,12725,40940.0,403.0,12.0,0.982650,29.0,305.5,69.0,37.0,0.569077,Washington,Redmond,NaN,NaN,0,0.000000,0.000000,0.000000,11155.0,11155.0,0.053097,-0.090095,0.021280,0.015718,-39107,-0.090179,555.0,4.0
509,206.0,G06070000,2019,16000US0670000,90401.0,17238.0,30081.0,23295.0,19787.0,0.190684,0.332751,0.257685,0.218880,7954.0,10096.0,31648.0,19170.0,0.087986,0.111680,0.350085,0.212055,92490,15502,50818.0,462.0,115.0,0.820189,9.0,332.0,272.0,429.0,0.562140,California,Santa Monica,Santa Monica,California,22,0.243360,2.433601,24.336014,-7305.0,-7305.0,0.133038,-0.028801,-0.007926,-0.096311,11323,-0.083242,633.0,5.0
380,568.0,G25045560,2019,16000US2545560,88411.0,29595.0,18507.0,23698.0,16611.0,0.334743,0.209329,0.268044,0.187884,4898.0,3088.0,19173.0,30104.0,0.055400,0.034928,0.216862,0.340501,150106,11450,49277.0,451.0,7.0,0.990536,234.0,68.0,281.0,357.0,0.557363,Massachusetts,Newton,Newton,Massachusetts,3,0.033932,0.339324,3.393243,-5315.0,-5315.0,-0.011021,0.094621,-0.018285,-0.065315,-46293,-0.078465,301.0,6.0
46,1248.0,G53005210,2019,16000US5305210,148145.0,41282.0,50989.0,34979.0,20895.0,0.278659,0.344183,0.236113,0.141044,7674.0,11911.0,43846.0,38057.0,0.051801,0.080401,0.295967,0.256890,127402,9942,81903.0,530.0,26.0,0.960568,387.0,483.0,449.0,442.0,0.552857,Washington,Bellevue,Bellevue,Washington,9,0.060751,0.607513,6.075129,-65049.0,-65049.0,0.045063,-0.040233,0.013646,-0.018475,-23589,-0.073959,532.0,7.0
599,239.0,G06083346,2019,16000US0683346,70161.0,15859.0,19140.0,15654.0,19508.0,0.226037,0.272801,0.223115,0.278046,4200.0,10037.0,22758.0,16019.0,0.059862,0.143057,0.324368,0.228318,120238,4142,38777.0,378.0,36.0,0.944795,7.0,87.0,53.0,421.0,0.552686,California,Walnut Creek,Walnut Creek,California,3,0.042759,0.427588,4.275880,12935.0,12935.0,0.097685,0.031149,0.026644,-0.155477,-16425,-0.073788,621.0,8.0
7,NaN,G51001000,2019,16000US5101000,159428.0,36892.0,65254.0,38964.0,18318.0,0.231402,0.409301,0.244399,0.114898,12753.0,13621.0,45539.0,41947.0,0.079992,0.085437,0.285640,0.263109,103284,4138,87486.0,532.0,72.0,0.888013,349.0,529.0,472.0,397.0,0.548749,Virginia,Alexandria,NaN,NaN,6,0.037635,0.376345,3.763454,-76332.0,-76332.0,0.092320,-0.105351,0.005360,0.007671,529,-0.069851,615.0,9.0
501,457.0,G13068516,2019,16000US1368516,109466.0,28665.0,40313.0,26462.0,14026.0,0.261862,0.368270,0.241737,0.128131,7200.0,10213.0,34710.0,25070.0,0.065774,0.093298,0.317085,0.229021,83111,5151,59780.0,493.0,165.0,0.741325,214.0,435.0,340.0,265.0,0.546106,Georgia,Sandy Springs,Sandy Springs,Georgia,3,0.027406,0.274058,2.740577,-26370.0,-26370.0,0.061860,-0.064320,0.008022,-0.005562,20702,-0.067208,579.0,10.0
82,609.0,G25011000,2019,16000US2511000,118925.0,40064.0,47001.0,19397.0,12463.0,0.336885,0.395215,0.163103,0.104797,4460.0,6154.0,25263.0,39654.0,0.037503,0.051747,0.212428,0.333437,119540,5782,64917.0,503.0,40.0,0.938486,377.0,463.0,167.0,197.0,0.545865,Massachusetts,Cambridge,Cambridge,Massachusetts,9,0.075678,0.756779,7.567795,-35829.0,-35829.0,-0.013163,-0.091265,0.086656,0.017772,-15727,-0.066967,283.0,11.0
514,30.0,G04065000,2019,16000US0465000,258064.0,53096.0,59593.0,74271.0,71104.0,0.205747,0.230923,0.287801,0.275529,25120.0,34227.0,87558.0,52007.0,0.097340,0.132630,0.339288,0.201528,86097,6512,139565.0,570.0,149.0,0.766562,453.0,517.0,572.0,595.0,0.540815,Arizona,Scottsdale,Scottsdale,Arizona,7,0.027125,0.271251,2.712505,-174968.0,-174968.0,0.117975,0.073027,-0.038042,-0.152960,17716,-0.061917,631.0,12.0
485,NaN,G53061115,2019,16000US5361115,65880.0,23659.0,19314.0,17127.0,5780.0,0.359123,0.293169,0.259973,0.087735,1767.0,3873.0,19969.0,15420.0,0.026821,0.058789,0.303112,0.234062,188120,20254,35389.0,346.0,2.0,0.998423,111.0,91.0,94.0,12.0,0.537174,Washington,Sammamish,NaN,NaN,1,0.015179,0.151791,1.517911,17216.0,17216.0,-0.035401,0.010781,-0.010214,0.034834,-84307,-0.058276,171.0,13.0
359,NaN,G45048535,2019,16000US4548535,91668.0,25436.0,23688.0,25329.0,17215.0,0.277480,0.258411,0.276312,0.187797,6248.0,9333.0,31387.0,17403.0,0.068159,0.101813,0.342399,0.189848,121318,18500,48790.0,449.0,33.0,0.949527,157.0,208.0,316.0,377.5,0.532247,South Carolina,Mount Pleasant town,NaN,NaN,3,0.032727,0.327268,3.272680,-8572.0,-8572.0,0.046242,0.045539,-0.026553,-0.065228,-17505,-0.053349,535.0,14.0
378,142.0,G06051182,2019,16000US0651182,84522.0,21322.0,19486.0,25920.0,17794.0,0.252266,0.230544,0.306666,0.210525,4709.0,11704.0,27156.0,17620.0,0.055713,0.138473,0.321289,0.208466,128294,20198,44776.0,428.0,21.0,0.968454,68.0,97.0,330.0,387.0,0.529756,California,Newport Beach,Newport Beach,California,14,0.165637,1.656373,16.563735,-1426.0,-1426.0,0.071456,0.073406,-0.056907,-0.087956,-24481,-0.050858,594.0,15.0
516,1241.0,G53063000,2019,16000US5363000,753655.0,188431.0,309111.0,165375.0,90738.0,0.250023,0.410149,0.219431,0.120397,53835.0,82964.0,239273.0,158749.0,0.071432,0.110082,0.317483,0.210639,102486,3231,398022.0,601.0,75.0,0.883281,604.0,621.0,616.0,611.0,0.528122,Washington,Seattle,Seattle,Washington,33,0.043787,0.437866,4.378661,-670559.0,-670559.0,0.073699,-0.106199,0.030328,0.002172,1327,-0.049224,598.0,16.0
87,NaN,G18010342,2019,16000US1810342,101918.0,35400.0,25852.0,26055.0,14611.0,0.347338,0.253655,0.255647,0.143360,5071.0,6694.0,28428.0,25042.0,0.049756,0.065680,0.278930,0.245707,113714,13984,53470.0,471.0,51.0,0.921136,329.0,259.0,333.0,291.0,0.524637,Indiana,Carmel,NaN,NaN,3,0.029435,0.294354,2.943543,-18822.0,-18822.0,-0.023616,0.050295,-0.005888,-0.020791,-9901,-0.045739,230.0,17.0
433,168.0,G06057792,2019,16000US0657792,81794.0,23903.0,20334.0,24144.0,13413.0,0.292234,0.248600,0.295181,0.163985,5442.0,7272.0,25482.0,17266.0,0.066533,0.088906,0.311539,0.211091,156063,13922,42748.0,416.0,4.0,0.995268,118.0,119.0,290.0,239.0,0.522630,California,Pleasanton,Pleasanton,California,4,0.048903,0.489033,4.890334,1302.0,1302.0,0.031488,0.055350,-0.045422,-0.041416,-52250,-0.043732,494.0,18.0
553,218.0,G06077000,2019,16000US0677000,152710.0,42393.0,59052.0,35407.0,15858.0,0.277605,0.386694,0.231858,0.103844,9577.0,13751.0,41263.0,38532.0,0.062714,0.090046,0.270205,0.252321,151475,10648,79795.0,528.0,6.0,0.992114,396.0,516.0,453.0,334.0,0.522526,California,Sunnyvale,Sunnyvale,California,25,0.163709,1.637090,16.370899,-69614.0,-69614.0,0.046117,-0.082744,0.017901,0.018725,-47662,-0.043628,534.0,19.0
171,NaN,G24026000,2019,16000US2426000,72605.0,21872.0,17355.0,19640.0,13738.0,0.301246,0.239033,0.270505,0.189216,6587.0,4482.0,21284.0,16650.0,0.090724,0.061731,0.293148,0.229323,130930,18874,37934.0,369.0,20.0,0.970032,76.0,34.0,181.5,250.0,0.522471,Maryland,Ellicott City CDP,NaN,NaN,2,0.027546,0.275463,2.754631,10491.0,10491.0,0.022476,0.064917,-0.020746,-0.066647,-27117,-0.043573,457.0,20.0

In [124]:
college = college[(college.college_rank_franklin >= 1) & (college.college_rank_franklin <= 20)]
college.shape

(20, 50)

In [125]:
college.to_csv('college_rank_franklin.csv')